.aboutus
{
position:absolute;
background-color:#ffffff;
height:1024px;
width:1440px;
padding:0px;
}
.loremipsumissimplydummytextoftheprintingandtypesettingindustry.loremipsumhasbeentheindustry'sstandarddummytexteversincethe1500s,whenanunknownprintertookagalleyoftypeandscrambledittomakeatypespecimenbook.
{
color:#000000;
text-align:justify;
vertical-align:text-middle;
font-size:25px;
font-family:Averia Serif Libre;
line-height:auto;
border-style:hidden;
outline:none;
left:137px;
top:510px;
position:absolute;
width:426px;
}
.loremipsumissimplydummytextoftheprintingandtypesettingindustry.loremipsumhasbeentheindustry'sstandarddummytexteversincethe1500s,whenanunknownprintertookagalleyoftypeandscrambledittomakeatypespecimenbook.2
{
color:#000000;
text-align:justify;
vertical-align:text-middle;
font-size:25px;
font-family:Averia Serif Libre;
left:878px;
top:510px;
width:425px;
height:176px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.loremipsumissimplydummytextoftheprintingandtypesettingindustry.loremipsumhasbeentheindustry'sstandarddummytexteversincethe1500s,whenanunknownprintertookagalleyoftypeandscrambledittomakeatypespecimenbook.3
{
color:#000000;
text-align:justify;
vertical-align:text-middle;
font-size:25px;
font-family:Averia Serif Libre;
left:392px;
top:201px;
width:643px;
height:176px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.vision
{
color:#000000;
text-align:center;
vertical-align:text-middle;
font-size:27px;
font-family:Averia Serif Libre;
left:124px;
top:433px;
width:425px;
height:41px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.mission
{
color:#000000;
text-align:center;
vertical-align:text-middle;
font-size:27px;
font-family:Averia Serif Libre;
left:878px;
top:433px;
width:425px;
height:41px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.navigation-header
{
height:96px;
width:1440px;
padding:0px;
border-style:hidden;
outline:none;
position:absolute;
top:0px;
left:-6px;
}
.button-ghost
{
height:56px;
width:48px;
border-radius:12px;
padding-left:24px;
padding-right:24px;
padding-top:16px;
padding-bottom:16px;
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
gap:32px;
position:absolute;
border-style:hidden;
outline:none;
top:20px;
left:1231px;
}
.button2
{
color:#4e4a66;
text-align:center;
vertical-align:text-middle;
font-size:15px;
font-family:Poppins;
align-self:flex-start;
left:24px;
top:16px;
position:absolute;
letter-spacing:0.75px;
line-height:24px;
border-style:hidden;
outline:none;
display:flex;
}
.frame697
{
height:96px;
width:1440px;
padding:0px;
position:absolute;
top:0px;
left:0px;
}
.frame477
{
background-color:#ffffff;
height:96px;
width:1440px;
padding:0px;
display:flex;
flex-direction:column;
}
.frame475
{
height:96px;
width:1216px;
padding-top:20px;
padding-bottom:20px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:center;
gap:64px;
position:relative;
}
.frame501
{
height:56px;
width:380.99908447265625px;
align-self:flex-start;
top:20px;
left:0px;
position:absolute;
padding:0px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:center;
gap:25px;
}
.linedarkmode-gridmenu
{
background-color:#ffffff;
height:24px;
width:23.999082565307617px;
align-self:flex-start;
top:16px;
left:0px;
position:absolute;
padding:0px;
border-style:hidden;
outline:none;
}
.vector
{
height:20px;
width:20px;
width:20px;
height:20px;
left:2px;
top:2px;
width:20px;
height:20px;
position:absolute;
}
.logogroup
{
height:56px;
width:332px;
align-self:flex-start;
left:48.99px;
top:0px;
position:absolute;
padding:0px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:center;
gap:16px;
}
.logoplaceholder
{
background-color:#ffffff;
height:56px;
width:56px;
padding:0px;
border-style:hidden;
outline:none;
}
.malaysiaislamichelper
{
color:#14132a;
text-align:left;
vertical-align:text-middle;
font-size:20px;
font-family:Poppins;
align-self:flex-start;
left:72px;
top:12px;
position:absolute;
width:260px;
height:32px;
letter-spacing:0.75px;
line-height:32px;
border-style:hidden;
outline:none;
display:flex;
}
.frame184
{
height:56px;
width:825px;
align-self:flex-start;
left:444.99px;
top:20px;
position:absolute;
padding-left:224px;
display:flex;
flex-direction:row;
justify-content:flex-end;
align-items:center;
}
.button-ghost2
{
height:56px;
width:96px;
align-self:flex-start;
left:269px;
top:0px;
position:absolute;
border-radius:12px;
padding-left:24px;
padding-right:24px;
padding-top:16px;
padding-bottom:16px;
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
gap:32px;
border-style:hidden;
outline:none;
}
.button4
{
color:#4e4b66;
text-align:center;
vertical-align:text-middle;
font-size:15px;
font-family:Poppins;
align-self:flex-start;
left:24px;
top:16px;
position:absolute;
width:48px;
height:24px;
letter-spacing:0.75px;
line-height:24px;
border-style:hidden;
outline:none;
display:flex;
}
.button-ghost3
{
height:56px;
width:119px;
align-self:flex-start;
left:365px;
top:0px;
position:absolute;
border-radius:12px;
padding-left:24px;
padding-right:24px;
padding-top:16px;
padding-bottom:16px;
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
gap:32px;
border-style:hidden;
outline:none;
}
.button6
{
color:#4e4a66;
text-align:center;
vertical-align:text-middle;
font-size:15px;
font-family:Poppins;
align-self:flex-start;
left:24px;
top:16px;
position:absolute;
width:71px;
height:24px;
letter-spacing:0.75px;
line-height:24px;
border-style:hidden;
outline:none;
display:flex;
}
.button-ghost4
{
height:56px;
width:92px;
align-self:flex-start;
left:484px;
top:0px;
position:absolute;
border-radius:12px;
padding-left:24px;
padding-right:24px;
padding-top:16px;
padding-bottom:16px;
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
gap:32px;
border-style:hidden;
outline:none;
}
.button8
{
color:#4e4a66;
text-align:center;
vertical-align:text-middle;
font-size:15px;
font-family:Poppins;
align-self:flex-start;
left:24px;
top:16px;
position:absolute;
width:44px;
height:24px;
letter-spacing:0.75px;
line-height:24px;
border-style:hidden;
outline:none;
display:flex;
}
.button-ghost5
{
height:56px;
width:125px;
align-self:flex-start;
left:576px;
top:0px;
position:absolute;
border-radius:12px;
padding-left:24px;
padding-right:24px;
padding-top:16px;
padding-bottom:16px;
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
gap:32px;
border-style:hidden;
outline:none;
}
.button10
{
color:#4e4b66;
text-align:center;
vertical-align:text-middle;
font-size:15px;
font-family:Poppins;
align-self:flex-start;
left:24px;
top:16px;
position:absolute;
width:77px;
height:24px;
letter-spacing:0.75px;
line-height:24px;
border-style:hidden;
outline:none;
display:flex;
}
.button-ghost6
{
height:56px;
width:124px;
align-self:flex-start;
left:701px;
top:0px;
position:absolute;
border-radius:12px;
padding-left:24px;
padding-right:24px;
padding-top:16px;
padding-bottom:16px;
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
gap:32px;
border-style:hidden;
outline:none;
}
.button12
{
color:#4e4a66;
text-align:center;
vertical-align:text-middle;
font-size:15px;
font-family:Poppins;
align-self:flex-start;
left:24px;
top:16px;
position:absolute;
width:76px;
height:24px;
letter-spacing:0.75px;
line-height:24px;
border-style:hidden;
outline:none;
display:flex;
}
.aboutus2
{
color:#000000;
text-align:center;
vertical-align:text-middle;
font-size:34px;
font-family:Averia Serif Libre;
left:645px;
top:161px;
width:137px;
height:40px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.message
{
color:#ffffff;
text-align:left;
vertical-align:text-middle;
font-size:32px;
font-family:Inter;
left:651px;
top:1223px;
width:137px;
height:39px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.group4
{
width:1440px;
height:106px;
top:918px;
left:-1px;
position:absolute;
}
.rectangle2
{
background-color:#05bcd2;
height:106px;
width:1440px;
top:918px;
left:-1px;
position:absolute;
}
.malaysiaislamichelper2
{
color:#ffffff;
text-align:center;
vertical-align:text-middle;
font-size:20px;
font-family:Averia Serif Libre;
left:5px;
top:933.94px;
width:282px;
height:45.964603424072266px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.webbuddies@gmail.com
{
color:#ffffff;
text-align:center;
vertical-align:text-middle;
font-size:20px;
font-family:Averia Serif Libre;
left:13px;
top:971.46px;
width:214px;
height:16.88495635986328px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.facebook-negative
{
background-color:#ffffff;
height:45.02655029296875px;
width:48px;
padding:0px;
border-style:hidden;
outline:none;
top:948.01px;
left:231px;
position:absolute;
}
.instagram-negative
{
background-color:#ffffff;
height:30.017698287963867px;
width:36px;
padding:0px;
border-style:hidden;
outline:none;
left:1388px;
top:956.46px;
position:absolute;
}
.vector2
{
background-color:#ffffff;
height:30.0118350982666px;
width:35.97890853881836px;
width:35.97890853881836px;
height:30.0118350982666px;
}
.vector3
{
background-color:#ffffff;
height:15.4192476272583px;
width:18.4921875px;
width:18.4921875px;
height:15.4192476272583px;
left:8.75px;
top:7.29px;
width:18.4921875px;
height:15.4192476272583px;
position:absolute;
}
.vector4
{
background-color:#ffffff;
height:3.599782943725586px;
width:4.31718635559082px;
width:4.31718635559082px;
height:3.599782943725586px;
left:25.45px;
top:5.19px;
width:4.31718635559082px;
height:3.599782943725586px;
position:absolute;
}
.twitter-negative
{
background-color:#ffffff;
height:30.017698287963867px;
width:36px;
padding:0px;
border-style:hidden;
outline:none;
left:1335px;
top:956px;
position:absolute;
}
.vector5
{
background-color:#ffffff;
height:24.39027976989746px;
width:36px;
width:36px;
height:24.39027976989746px;
top:2.81px;
width:36px;
height:24.39027976989746px;
position:absolute;
}
.vector6
{
background-color:#ffffff;
height:32px;
width:36px;
left:1281px;
top:955px;
position:absolute;
}
