.donationpage
{
position:absolute;
background-color:#ffffff;
height:1024px;
width:1440px;
padding:0px;
}
.rectangle22
{
background-color:rgba(158, 228, 251, 0.30000001192092896);
height:563px;
width:655px;
border-radius:15px;
left:742px;
top:329px;
position:absolute;
}
.component4
{
background-color:#ffffff;
height:47px;
width:239px;
padding:0px;
border-style:hidden;
outline:none;
top:614px;
left:1093px;
position:absolute;
}
.rectangle21
{
background-color:#ffffff;
height:39.769229888916016px;
width:239px;
top:3.61px;
position:absolute;
}
.rm5
{
color:rgba(0, 0, 0, 0.5);
text-align:center;
vertical-align:text-middle;
font-size:20px;
font-family:Averia Serif Libre;
left:33.66px;
width:171.67605590820312px;
height:47px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.component3
{
background-color:#ffffff;
height:47px;
width:86px;
padding:0px;
border-style:hidden;
outline:none;
top:614px;
left:996px;
position:absolute;
}
.rectangle212
{
background-color:#ffffff;
height:39.769229888916016px;
width:86px;
top:3.61px;
position:absolute;
}
.rm52
{
color:rgba(0, 0, 0, 0.5);
text-align:center;
vertical-align:text-middle;
font-size:20px;
font-family:Averia Serif Libre;
left:12.11px;
width:61.7746467590332px;
height:47px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.component2
{
background-color:#ffffff;
height:47px;
width:86px;
padding:0px;
border-style:hidden;
outline:none;
top:614px;
left:897px;
position:absolute;
}
.rectangle213
{
background-color:#ffffff;
height:39.769229888916016px;
width:86px;
top:3.61px;
position:absolute;
}
.rm53
{
color:rgba(0, 0, 0, 0.5);
text-align:center;
vertical-align:text-middle;
font-size:20px;
font-family:Averia Serif Libre;
left:12.11px;
width:61.7746467590332px;
height:47px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.donationamount
{
color:#000000;
text-align:left;
vertical-align:text-middle;
font-size:20px;
font-family:Averia Serif Libre;
left:798px;
top:588px;
width:214px;
height:26px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.group9
{
width:239px;
height:59px;
top:504px;
left:1093px;
position:absolute;
}
.rectangle214
{
background-color:#ffffff;
height:33px;
width:239px;
left:1093px;
top:530px;
position:absolute;
}
.email
{
color:#000000;
text-align:left;
vertical-align:text-middle;
font-size:20px;
font-family:Averia Serif Libre;
left:1093px;
top:504px;
width:197.83253479003906px;
height:26px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.rectangle23
{
background-color:rgba(158, 228, 251, 0.30000001192092896);
height:563px;
width:655px;
border-radius:15px;
top:331px;
left:48px;
position:absolute;
}
.group12
{
width:191px;
height:207px;
top:645px;
left:282px;
position:absolute;
}
.rectangle24
{
background-color:#ffffff;
height:181px;
width:191px;
border-radius:15px;
top:671px;
left:282px;
position:absolute;
}
.zakatdistribution
{
color:#000000;
text-align:center;
vertical-align:text-middle;
font-size:18px;
font-family:Averia Serif Libre;
left:282px;
top:645px;
width:191px;
height:26px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.group13
{
width:191px;
height:207px;
top:645px;
left:493px;
position:absolute;
}
.rectangle242
{
background-color:#ffffff;
height:181px;
width:191px;
border-radius:15px;
top:671px;
left:493px;
position:absolute;
}
.communityproject
{
color:#000000;
text-align:center;
vertical-align:text-middle;
font-size:18px;
font-family:Averia Serif Libre;
left:493px;
top:645px;
width:191px;
height:26px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.group14
{
width:191px;
height:207px;
top:644px;
left:66px;
position:absolute;
}
.rectangle243
{
background-color:#ffffff;
height:181px;
width:191px;
border-radius:15px;
top:670px;
left:66px;
position:absolute;
}
.humanitarianaid
{
color:#000000;
text-align:center;
vertical-align:text-middle;
font-size:18px;
font-family:Averia Serif Libre;
left:66px;
top:644px;
width:191px;
height:26px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.group11
{
width:191px;
height:207px;
top:409px;
left:282px;
position:absolute;
}
.rectangle244
{
background-color:#ffffff;
height:181px;
width:191px;
border-radius:15px;
top:435px;
left:282px;
position:absolute;
}
.skilldevelopment
{
color:#000000;
text-align:center;
vertical-align:text-middle;
font-size:18px;
font-family:Averia Serif Libre;
left:282px;
top:409px;
width:191px;
height:26px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.group10
{
width:191px;
height:207px;
top:409px;
left:493px;
position:absolute;
}
.rectangle245
{
background-color:#ffffff;
height:181px;
width:191px;
border-radius:15px;
top:435px;
left:493px;
position:absolute;
}
.foodsupply
{
color:#000000;
text-align:center;
vertical-align:text-middle;
font-size:18px;
font-family:Averia Serif Libre;
left:493px;
top:409px;
width:191px;
height:26px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.rectangle6
{
background-color:#05bcd2;
height:241px;
width:1440px;
top:66px;
left:0px;
position:absolute;
}
.donateinourcharityandhelpothersseekallah’spleasure
{
color:#ffffff;
text-align:center;
vertical-align:text-middle;
font-size:48px;
font-family:Averia Serif Libre;
left:191px;
top:85px;
width:1057px;
height:203px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.group8
{
width:239px;
height:59px;
top:504px;
left:798px;
position:absolute;
}
.rectangle215
{
background-color:#ffffff;
height:33px;
width:239px;
left:798px;
top:530px;
position:absolute;
}
.phonenumber
{
color:#000000;
text-align:left;
vertical-align:text-middle;
font-size:20px;
font-family:Averia Serif Libre;
left:798px;
top:504px;
width:197.83253479003906px;
height:26px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.component1
{
background-color:#ffffff;
height:47px;
width:86px;
padding:0px;
top:614px;
left:798px;
position:absolute;
}
.rectangle216
{
background-color:#ffffff;
height:39.769229888916016px;
width:86px;
top:3.61px;
position:absolute;
}
.rm54
{
color:rgba(0, 0, 0, 0.5);
text-align:center;
vertical-align:text-middle;
font-size:20px;
font-family:Averia Serif Libre;
left:12.11px;
width:61.7746467590332px;
height:47px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.group4
{
width:1440px;
height:106px;
top:918px;
left:-1px;
position:absolute;
}
.rectangle214
{
background-color:#ffffff;
height:33px;
width:239px;
left:1093px;
top:530px;
position:absolute;
}
.malaysiaislamichelper
{
color:#ffffff;
text-align:center;
vertical-align:text-middle;
font-size:20px;
font-family:Averia Serif Libre;
left:5px;
top:933.94px;
width:282px;
height:45.964603424072266px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.webbuddies@gmail.com
{
color:#ffffff;
text-align:center;
vertical-align:text-middle;
font-size:20px;
font-family:Averia Serif Libre;
left:13px;
top:971.46px;
width:214px;
height:16.88495635986328px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.facebook-negative
{
background-color:#ffffff;
height:45.02655029296875px;
width:48px;
padding:0px;
border-style:hidden;
outline:none;
top:948.01px;
left:231px;
position:absolute;
}
.instagram-negative
{
background-color:#ffffff;
height:30.017698287963867px;
width:36px;
padding:0px;
border-style:hidden;
outline:none;
left:1388px;
top:956.46px;
position:absolute;
}
.vector
{
background-color:#ffffff;
height:30.0118350982666px;
width:35.97890853881836px;
width:35.97890853881836px;
height:30.0118350982666px;
}
.vector2
{
background-color:#ffffff;
height:15.4192476272583px;
width:18.4921875px;
width:18.4921875px;
height:15.4192476272583px;
left:8.75px;
top:7.29px;
width:18.4921875px;
height:15.4192476272583px;
position:absolute;
}
.vector3
{
background-color:#ffffff;
height:3.599782943725586px;
width:4.31718635559082px;
width:4.31718635559082px;
height:3.599782943725586px;
left:25.45px;
top:5.19px;
width:4.31718635559082px;
height:3.599782943725586px;
position:absolute;
}
.twitter-negative
{
background-color:#ffffff;
height:30.017698287963867px;
width:36px;
padding:0px;
border-style:hidden;
outline:none;
left:1335px;
top:956px;
position:absolute;
}
.vector4
{
background-color:#ffffff;
height:24.39027976989746px;
width:36px;
width:36px;
height:24.39027976989746px;
top:2.81px;
width:36px;
height:24.39027976989746px;
position:absolute;
}
.vector5
{
background-color:#ffffff;
height:32px;
width:36px;
left:1281px;
top:955px;
position:absolute;
}
.component5
{
background-color:#ffffff;
height:47px;
width:127px;
padding:0px;
top:787px;
left:1006px;
position:absolute;
}
.rectangle218
{
background-color:#6bd3d5;
height:40px;
width:127px;
top:4px;
position:absolute;
}
.donate2
{
color:#ffffff;
text-align:center;
vertical-align:text-middle;
font-size:20px;
font-family:Averia Serif Libre;
left:18px;
width:91px;
height:47px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.thedonationwillgotofundthesesectors
{
color:#000000;
text-align:center;
vertical-align:text-middle;
font-size:20px;
font-family:Averia Serif Libre;
left:72px;
top:358px;
width:411px;
height:39px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.group102
{
width:191px;
height:207px;
top:409px;
left:66px;
position:absolute;
}
.rectangle246
{
background-color:#ffffff;
height:181px;
width:191px;
border-radius:15px;
top:435px;
left:66px;
position:absolute;
}
.education
{
color:#000000;
text-align:center;
vertical-align:text-middle;
font-size:18px;
font-family:Averia Serif Libre;
left:66px;
top:409px;
width:191px;
height:26px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.frame477
{
background-color:#ffffff;
height:96px;
width:1440px;
padding:0px;
display:flex;
flex-direction:column;
position:absolute;
top:0px;
left:0px;
}
.frame475
{
height:96px;
width:1216px;
padding-top:20px;
padding-bottom:20px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:center;
gap:64px;
position:relative;
}
.frame501
{
height:56px;
width:380.99908447265625px;
align-self:flex-start;
top:20px;
left:0px;
position:absolute;
padding:0px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:center;
gap:25px;
}
.linedarkmode-gridmenu
{
background-color:#ffffff;
height:24px;
width:23.999082565307617px;
align-self:flex-start;
top:16px;
left:0px;
position:absolute;
padding:0px;
border-style:hidden;
outline:none;
}
.vector6
{
height:20px;
width:20px;
width:20px;
height:20px;
left:2px;
top:2px;
width:20px;
height:20px;
position:absolute;
}
.logogroup
{
height:56px;
width:332px;
align-self:flex-start;
left:48.99px;
top:0px;
position:absolute;
padding:0px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:center;
gap:16px;
}
.logoplaceholder
{
background-color:#ffffff;
height:56px;
width:56px;
padding:0px;
border-style:hidden;
outline:none;
}
.malaysiaislamichelper2
{
color:#14132a;
text-align:left;
vertical-align:text-middle;
font-size:20px;
font-family:Poppins;
align-self:flex-start;
left:72px;
top:12px;
position:absolute;
width:260px;
height:32px;
letter-spacing:0.75px;
line-height:32px;
border-style:hidden;
outline:none;
display:flex;
}
.frame184
{
height:56px;
width:825px;
align-self:flex-start;
left:444.99px;
top:20px;
position:absolute;
padding-left:224px;
display:flex;
flex-direction:row;
justify-content:flex-end;
align-items:center;
}
.button-ghost
{
height:56px;
width:96px;
align-self:flex-start;
left:269px;
top:0px;
position:absolute;
border-radius:12px;
padding-left:24px;
padding-right:24px;
padding-top:16px;
padding-bottom:16px;
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
gap:32px;
border-style:hidden;
outline:none;
}
.button2
{
color:#4e4b66;
text-align:center;
vertical-align:text-middle;
font-size:15px;
font-family:Poppins;
align-self:flex-start;
left:24px;
top:16px;
position:absolute;
width:48px;
height:24px;
letter-spacing:0.75px;
line-height:24px;
border-style:hidden;
outline:none;
display:flex;
}
.button-ghost2
{
height:56px;
width:119px;
align-self:flex-start;
left:365px;
top:0px;
position:absolute;
border-radius:12px;
padding-left:24px;
padding-right:24px;
padding-top:16px;
padding-bottom:16px;
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
gap:32px;
border-style:hidden;
outline:none;
}
.button4
{
color:#4e4a66;
text-align:center;
vertical-align:text-middle;
font-size:15px;
font-family:Poppins;
align-self:flex-start;
left:24px;
top:16px;
position:absolute;
width:71px;
height:24px;
letter-spacing:0.75px;
line-height:24px;
border-style:hidden;
outline:none;
display:flex;
}
.button-ghost3
{
height:56px;
width:92px;
align-self:flex-start;
left:484px;
top:0px;
position:absolute;
border-radius:12px;
padding-left:24px;
padding-right:24px;
padding-top:16px;
padding-bottom:16px;
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
gap:32px;
border-style:hidden;
outline:none;
}
.button6
{
color:#4e4a66;
text-align:center;
vertical-align:text-middle;
font-size:15px;
font-family:Poppins;
align-self:flex-start;
left:24px;
top:16px;
position:absolute;
width:44px;
height:24px;
letter-spacing:0.75px;
line-height:24px;
border-style:hidden;
outline:none;
display:flex;
}
.button-ghost4
{
height:56px;
width:125px;
align-self:flex-start;
left:576px;
top:0px;
position:absolute;
border-radius:12px;
padding-left:24px;
padding-right:24px;
padding-top:16px;
padding-bottom:16px;
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
gap:32px;
border-style:hidden;
outline:none;
}
.button8
{
color:#4e4a66;
text-align:center;
vertical-align:text-middle;
font-size:15px;
font-family:Poppins;
align-self:flex-start;
left:24px;
top:16px;
position:absolute;
width:77px;
height:24px;
letter-spacing:0.75px;
line-height:24px;
border-style:hidden;
outline:none;
display:flex;
}
.button-ghost5
{
height:56px;
width:124px;
align-self:flex-start;
left:701px;
top:0px;
position:absolute;
border-radius:12px;
padding-left:24px;
padding-right:24px;
padding-top:16px;
padding-bottom:16px;
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
gap:32px;
border-style:hidden;
outline:none;
}
.button10
{
color:#2aa8f8;
text-align:center;
vertical-align:text-middle;
font-size:15px;
font-family:Poppins;
align-self:flex-start;
left:24px;
top:16px;
position:absolute;
width:76px;
height:24px;
letter-spacing:0.75px;
line-height:24px;
border-style:hidden;
outline:none;
display:flex;
}
